---
import { Comment } from 'astro-pure/advanced'
import PageLayout from '@/layouts/CommonPage.astro'
---
<style is:global>
.cbp_tmlabel {
  color: unset !important;
}
</style>

<PageLayout title='Praline' info='/praline'>
  <div id="artitalk_main"></div>
<script is:inline>
  (function() {
    const script = document.createElement('script');
    script.src = '/artitalk.js';
    script.onload = () => {
      new Artitalk({
        appId: 'id',
        appKey: 'key',
        serverURL: 'https://artitalk.shoujo.ggff.net',
        color1: 'hsl(var(--muted) / var(--un-bg-opacity, 1))',
        // color1: 'hsl(var(--background) / var(--un-bg-opacity))',
        color2: 'hsl(var(--muted) / var(--un-bg-opacity, 1))',
      });
    };
    document.body.appendChild(script);
  })();
</script>
  <Comment slot='bottom' />
</PageLayout>
