---
import { Comment } from 'astro-pure/advanced'
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='Praline' info='/praline'>
  <div id="artitalk_main"></div>
<script is:inline>
  (function() {
    const script = document.createElement('script');
    script.src = '/artitalk.js';
    script.onload = () => {
      new Artitalk({
        appId: 'id',
        appKey: 'key',
        serverURL: 'https://artitalk.shoujo.ggff.net',
        color1: '#8DC9D3',
        color2: '#FFBFD7',
      });
    };
    document.body.appendChild(script);
  })();
</script>
  <Comment slot='bottom' />
</PageLayout>
