---
import { Comment } from 'astro-pure/advanced'
// import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
// import Substats from '@/components/about/Substats.astro'
// import ToolSection from '@/components/about/ToolSection.astro'

// const headings = [
//   { depth: 2, slug: 'hobbies', text: 'Hobbies' },
//   { depth: 2, slug: 'tools', text: 'Tools' },
//   { depth: 2, slug: 'social-networks', text: 'Social Networks' },
//   { depth: 2, slug: 'gossips', text: 'Gossips' },
//   { depth: 2, slug: 'about-blog', text: 'About Blog' }
// ]
---

<PageLayout title='Praline' info='/praline'>
  <div id="artitalk_main"></div>
<script is:inline>
  (function() {
    const script = document.createElement('script');
    script.src = '/artitalk.js';
    script.onload = () => {
      new Artitalk({
        appId: 'id',
        appKey: 'key',
        serverURL: 'https://artitalk.shoujo.ggff.net',
        color1: '#8DC9D3',
        color2: '#FFBFD7',
      });
    };
    document.body.appendChild(script);
  })();
</script>
  <Comment slot='bottom' />
</PageLayout>
