---
import { Comment } from 'astro-pure/advanced'
// import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
// import Substats from '@/components/about/Substats.astro'
// import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
<ul>
<li>少女</li>
<li>永远16岁</li>
<li>miku的老婆</li>
</ul>
<p><del>明年就高一了</del> <del>已经高一了呜呜呜</del> 真的高二了...<br>
喜欢初音未来、Python娘、动漫及代码<br>
<del>周末小概率更新</del>
<br>我不演了，一年没写东西了</p>
<Comment slot='bottom' />
</PageLayout>
