<script>
  import 'sakana-widget/lib/index.css'
  import SakanaWidget from 'sakana-widget'
  new SakanaWidget().mount('#sakana-widget')
</script>

<div class='overflow-clip' id='sakana-widget'></div>

<style is:global>
  .sakana-widget-app {
    margin: auto;
  }
</style>
